<div style="position: absolute; top: 72px; right: 32px; display: inline-flex">
	<div style="display: inline-block; top: 55px">
		<span style="font-size: 0.8em; text-align: left; display: inline-block"
			>Auto Refresh: {{ timing !== 0 ? timing + ' min' : 'Off' }}</span
		><br />
		<i style="display: inline-block">
			<p-slider
				[(ngModel)]="timing"
				[style]="{ width: '12.5em' }"
				[step]="5"
				[min]="0"
				[max]="30"
				(onChange)="onchangeTiming($event)"
			>
			</p-slider>
		</i>
	</div>
	<button
		style="margin-left: 8px; margin-right: 32px"
		pButton
		type="button"
		icon="pi pi-refresh"
		class="p-button-raised p-button-text p-button-plain"
		(click)="onClickRefresh()"
	></button>
	<div style="display: inline-block">
		<app-ge-views [_view]="view" navigate="/dashboard" moduleName="submission" [tParams]="params"> </app-ge-views>
	</div>
</div>
<br />
<app-ge-filters #filter [filterSelection]="filterSelection" [childParentRelationship]="false"> </app-ge-filters>
