<div style="position: absolute; top: 15px; right: 25px">
  <div style="display: inline-block">
    <app-ge-views [_view]="view" navigate="/dashboard" moduleName="submission" [tParams]="params"> </app-ge-views>
  </div>
  <div style="margin-left:20px; display: inline-block">
    <div class="ui-inputgroup">
      <p-dropdown
        [style]="{ 'min-width': '200px' }"
        (onChange)="onChangeDays($event)"
        [options]="daysOptions"
        placeholder="Days"
        [(ngModel)]="days"
      ></p-dropdown>
      <button
        pButton
        type="button"
        icon="pi pi-refresh"
        class="ui-button-secondary"
        (click)="onClickRefresh()"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-filter"
        class="ui-button-secondary"
        (click)="displayFilters = true"
      ></button>
    </div>
  </div>
</div>
<div *ngIf="existChipFilters" class="p-grid" [hidden]="chipFilters.length === 0">
  <div class="p-md-12">
    <p-chips (onRemove)="onRemoveFilter($event)" [(ngModel)]="chipFilters">
      <ng-template let-item pTemplate="item">
        <div style="margin-right: 1em; font-size: 1.2em;">{{ item.name }}</div>
      </ng-template>
    </p-chips>
  </div>
</div>
<app-ge-filters
  [filterSelection]="filterSelection"
  (onHide)="displayFilters = false"
  [displayFilters]="displayFilters"
  [childParentRelationship]="false"
  (onChangeParams)="onChangeParams($event)"
></app-ge-filters>
