.p-datatable .p-datatable-tbody > tr > td {
	border: none;
}

.p-selectbutton .p-button.p-highlight {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

.p-multiselect .p-multiselect-label,
.p-inputtext {
	padding: 0.5rem 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
	min-width: 1.5rem;
	height: 1.5rem;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
	min-width: 1.5rem;
	height: 1.5rem;
}

.p-paginator .p-dropdown {
	height: 2rem;
}
