@import '~src/styles-variables.scss';
@import '~src/styles-primeng.scss';
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: $background-color;
	color: $black;
	font-size: 0.875rem;
}

h2,
h3,
h4,
h5 {
	// font-weight: 500 !important;
}

.ge-action {
	font-size: 1em;
	cursor: pointer;
	color: $gray;
	&:hover {
		color: $blue;
	}
}

.list-banner {
	float: right;
	button {
		margin-left: 20px;
	}
}

.mx-auto {
	button {
		margin-left: 8px;
	}
}

.ge-ui-card {
	background-color: $white;
	color: #333333;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	.card-banner {
		color: white;
		padding: 0px 10px;
		background-color: $light-blue;
		height: 33px;
		line-height: 33px;
	}
	.ge-ui-card-content {
		padding: 1em;
	}
}
