$black: #313131;
$blue: #8497b0;
$gray: #63666a;
$white: #ffffff;
// $light-blue: #00b5e2;
$indigo: #13294b;
$lightgray: #d3d3d3;
$orange: #fe5000;
$green: #88c6ba;
$red: #ff9b9b;
$yellow: #ffe699;

$primary-blue: #1b4367;
$light-blue: #8497b0;
$background-color: rgb(245, 245, 245);
