<p-card>
	<form [formGroup]="systemForm">
		<div class="p-grid">
			<div class="p-md-12">
				<span class="p-float-label">
					<input formControlName="id" pInputText type="number" name="id" id="id" />
					<label for="float-input">ID</label>
				</span>
			</div>
			<div class="p-md-12">
				<span class="p-float-label">
					<input formControlName="name" pInputText type="text" name="name" id="name" [autofocus] />
					<label for="float-input">Name</label>
				</span>
			</div>
			<div class="p-md-12">
				<span class="p-float-label">
					<p-dropdown
						formControlName="closePhase"
						filter="true"
						optionLabel="name"
						[options]="closePhases"
						showClear="true"
					></p-dropdown>
					<label for="float-input">Close Phase</label>
				</span>
			</div>
			<div class="p-md-12">
				<span class="p-float-label">
					<p-dropdown
						formControlName="appOwner"
						filter="true"
						optionLabel="name"
						[options]="users"
						showClear="true"
					></p-dropdown>
					<label for="float-input">App Owner</label>
				</span>
			</div>
			<div class="p-md-12">
				<p-button
					[disabled]="!systemForm.valid || systemForm.pristine"
					label="Save"
					(onClick)="save()"
				></p-button>
			</div>
		</div>
	</form>
</p-card>
