
resources.txt
server/dashboard/src/main/resources/application-local.properties
server/dashboard/src/main/resources/application-local.properties
server/applications/src/main/resources/application-local.properties
server/dashboard/src/main/resources/application-local.properties
server/dashboard/src/main/resources/application-local.properties
server/applications/src/main/resources/application-local.properties
