<div class="p-grid">
	<div
		[ngClass]="{
			'p-md-12': notificationId === -1,
			'p-md-8': notificationId > -1
		}"
	>
		<div class="p-grid">
			<div class="p-md-12">
				<p-messages key="supportEmailMsg"></p-messages>
				<p-button label="New Notification" (onClick)="newNotification()"></p-button>
			</div>
			<div class="p-md-12">
				<h3>User Defined Notifications</h3>
			</div>
			<div class="p-md-12">
				<app-ge-table
					[value]="processNotifications"
					[columns]="columns"
					(deleteRecord)="onDeleteRecord($event)"
					[customEdit]="true"
					(editRecord)="onEditRecord($event)"
				>
				</app-ge-table>
			</div>
		</div>
		<app-process-dtl-notifications-alerts [processId]="processId"></app-process-dtl-notifications-alerts>
	</div>
	<div [hidden]="notificationId === -1" class="p-md-1 vr"></div>
	<div [hidden]="notificationId === -1" class="p-md-3">
		<h3>
			{{ notificationId > 0 ? 'Update ID: ' + notificationId : 'Create New' }}
		</h3>
		<form [formGroup]="processNotificationForm">
			<div class="p-grid" style="color: #525252; font-size: 87%">
				<div class="p-md-11 p-offset-1 section">Levels</div>
				<div class="p-md-10 p-offset-2">
					<p-radioButton
						name="levels"
						value="statusProcess"
						label="Submission Status"
						[(ngModel)]="level"
						(onClick)="onChangeLevel(level)"
						[ngModelOptions]="{ standalone: true }"
						inputId="opt1"
					>
					</p-radioButton>
				</div>
				<div class="p-md-10 p-offset-2">
					<p-radioButton
						name="levels"
						value="statusStep"
						label="Step Status"
						[(ngModel)]="level"
						(onClick)="onChangeLevel(level)"
						[ngModelOptions]="{ standalone: true }"
						inputId="opt1"
					>
					</p-radioButton>
				</div>
				<div class="p-md-10 p-offset-2">
					<p-radioButton
						name="levels"
						value="escalation"
						label="Escalation"
						[(ngModel)]="level"
						(onClick)="onChangeLevel(level)"
						[ngModelOptions]="{ standalone: true }"
						inputId="opt3"
					>
					</p-radioButton>
				</div>
				<div class="p-md-10 p-offset-2">
					<p-radioButton
						name="levels"
						value="noChoice"
						label="Submission"
						[(ngModel)]="level"
						(onClick)="onChangeLevel(level)"
						[ngModelOptions]="{ standalone: true }"
						inputId="opt4"
					>
					</p-radioButton>
				</div>
				<div class="p-md-11 p-offset-1 section">Type</div>
				<div class="p-md-10 p-offset-2">
					<p-dropdown
						formControlName="submissionType"
						placeholder="Submission Type"
						[options]="submissionTypes"
						optionLabel="label"
						showClear="true"
						dataKey="value"
					>
					</p-dropdown>
				</div>

				<div class="p-md-12"></div>
				<div class="p-md-11 p-offset-1 section">Details</div>
				<div class="p-md-10 p-offset-2">
					<div class="p-grid">
						<div class="p-md-12">
							<p class="field" *ngIf="input.processSteps">Steps</p>
							<p-multiSelect
								formControlName="processSteps"
								defaultLabel="Steps"
								[options]="steps"
								optionLabel="name"
								filterPlaceHolder="Search"
								[panelStyle]="{ minWidth: '12em' }"
								(onClick)="onFocusProcessStep($event)"
								dataKey="id"
							>
							</p-multiSelect>
						</div>
						<div class="p-md-12">
							<p class="field" *ngIf="input.status">Status</p>
							<p-dropdown
								formControlName="status"
								placeholder="Status"
								[options]="status"
								optionLabel="name"
								dataKey="id"
								showClear="true"
							></p-dropdown>
						</div>
						<div class="p-md-12">
							<p class="field" *ngIf="input.escalationType">Escalation Type</p>
							<p-dropdown
								formControlName="escalationType"
								placeholder="Escalation Type"
								[options]="escalationTypes"
								optionLabel="label"
								showClear="true"
								dataKey="value"
							>
							</p-dropdown>
						</div>
					</div>
				</div>
				<div class="p-md-11 p-offset-1 section">Text Messaging</div>
				<div class="p-md-10 p-offset-2">
					<div class="p-grid">
						<div class="p-md-12">
							<p-checkbox label="Enabled" formControlName="enableTextMessaging" binary="true">
							</p-checkbox>
						</div>
					</div>
				</div>
				<div class="p-md-12"></div>
				<div class="p-md-11 p-offset-1">
					<p-button
						[disabled]="!processNotificationForm.valid"
						label="{{ notificationId > 0 ? 'Update' : 'Save' }}"
						(onClick)="onSubmit()"
					>
					</p-button>
					<button pButton class="p-button-text p-button-plain" label="Cancel" (click)="cancel()"></button>
				</div>
			</div>
		</form>
	</div>
</div>
