.section {
  font-size: 110%;
  font-style: bold;
}

.field {
  color: #6a6a6a;
  font-size: 80%;
  font-style: bold;
}

.vr {
  padding: none;
  margin-right: 1em;
  width: 0px;
  border-right: solid 2px #bebebe33;
}
