.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.step-time {
  font-size: 0.7em;
  color: gray;
}

.step-name {
  font-size: 0.8em;
  font-weight: 500;
}

.step-line {
  background: lightgray;
  width: 1px;
  height: 100%;
}
