@import '~src/styles-variables.scss';

.table-icon {  
  padding: 2px;
  cursor: pointer;
  &:hover {
    background-color: lightgray;
    border-radius: 50%;
  }
}

.floating-icons {
  float: right;
  position: absolute;
  right: 0px;
}

.floating-icons-2 {
  width: 70px;
}

.floating-icons-3 {
  width: 105px;
}

.row-even {
  background-color: #f9f9f9;
}

.row-odd {
  background-color: white;
}

pre {
    margin: 0;    
    font-family: Roboto;
    font-size: small;
}