<div *ngIf="scheduleForm" [formGroup]="scheduleForm" class="p-grid">
  <div formGroupName="dailyRecurrence" class="p-grid">
    <div class="p-md-12">
      <div class="p-grid">
        <div class="p-md-2">
          <p-radioButton
            (onClick)="onClickDailyOption()"
            name="Option"
            value="daily"
            label="Daily"
            formControlName="option"
          ></p-radioButton>
        </div>
        <div class="p-md-4">
          <span class="ui-float-label">
            <input formControlName="recurEvery" name="recurEvery" id="float-input" type="number" size="30" pInputText />
            <label for="float-input"
              >Every
              {{ scheduleForm.value.dailyRecurrence.recurEvery ? scheduleForm.value.dailyRecurrence.recurEvery : 0 }}
              day(s)</label
            >
          </span>
        </div>
        <div class="p-md-4">
          <p-checkbox
            (onChange)="onChangeIsEveryWeekday($event)"
            formControlName="isEveryWeekday"
            name="isEveryWeekday"
            binary="true"
            label="Every weekday"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="p-md-12">
      <div class="p-grid">
        <div class="p-md-2">
          <p-radioButton
            (onClick)="onClickDailyOption()"
            name="Option"
            value="hourly"
            label="Hourly"
            formControlName="option"
          >
          </p-radioButton>
        </div>
        <div class="p-md-10">
          <span class="ui-float-label">
            <p-dropdown formControlName="timeRecurrence" [options]="timeRecurrences" id="float-time"></p-dropdown>
            <label for="float-time">Time Recurrence</label>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
