.title {
  font-weight: bold;
  text-align: center;
  color: #3f3f3f;
  font-size: 90%;
  text-transform: uppercase;
}

.empty {
  padding: 0.7em;
  background-color: #acabab09;
  text-align: center;
  font-style: italic;
  color: #6e6e6e;
}
