.loading {
  color: #585757ad;
  font-size: 3em;
}

.stat-number {
  background-color: #e6edf3;
  font-size: 85%;
  padding: 0.9em;
  font-weight: bold;
  border-radius: 6px;
  border: solid 3px white;
  text-align: center;
  color: #585757;
}

.stat-title {
  text-align: center;
  color: #585757;
  font-size: 70%;
  text-transform: uppercase;
  padding: 0.5em;
}
