@import '~src/styles-variables.scss';
.filters {
	box-shadow: 1px 1px 10px 2px $light-blue;
	background-color: white;
	.icon {
		position: absolute;
		background: lightgray;
		height: 62px;
		line-height: 62px;
		width: 45px;
		text-align: center;
		font-size: 1.5em;
		cursor: pointer;
	}
	.content {
		margin-left: 4em;
	}
}
.loading {
	color: #585757ad;
	font-size: 3em;
}

.stat-number {
	background-color: #e6edf3;
	font-size: 85%;
	padding: 0.9em;
	font-weight: bold;
	border-radius: 6px;
	border: solid 3px white;
	text-align: center;
	color: #585757;
}

.stat-title {
	text-align: center;
	color: #585757;
	font-size: 70%;
	text-transform: uppercase;
	padding: 0.5em;
}
.option {
	text-align: center;
	vertical-align: middle;
	background: lightgray;
	height: 40px;
	border-radius: 5px;
	display: inline-block;
	width: 200px;
	margin-right: 1em;
	cursor: pointer;
	line-height: 50px;
	.title {
		font-size: 1.1em;
	}
}

.option2 {
	text-align: center;
	vertical-align: top;
	background: white;
	height: 15px;
	border-radius: 5px;
	display: inline-block;
	width: 200px;
	margin-right: 1em;
	cursor: pointer;
	.title {
		font-size: 1.1em;
	}
}

.required-text {
	margin-left: 1.3em;
	color: tomato;
	font-size: 10px;
	position: absolute;
	top: 0px;
	z-index: 10;
}

.optional-text {
	margin-left: 2.5em;
	color: lightgray;
	font-size: 10px;
	position: absolute;
	top: -8px;
	z-index: 10;	
}
