@import '~src/styles-variables.scss';

a,
i,
div {
	color: lightgray !important;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100%);
	background-color: $primary-blue;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.vr {
	margin-left: 8px;
	border-left: solid 1px #bebebe2d;
	padding-right: 20px;
	border-right: solid 1px #bebebe2d;
	margin-right: 6px;
}

.hr {
	margin: 1em;
	height: 0px;
	margin-left: inherit;
	border-top: solid 1.5px #bebebe67;
}

.hamburger-icon {
	font-size: 1.2em;
	cursor: pointer;
	vertical-align: middle;

	&:hover {
		color: white !important;
	}
}

.site-title {
	font-size: 1.5em;
	vertical-align: super;
	color: white;
	font-style: bold;
	text-shadow: 1px 1px 1px #37373746;
}

.build-version {
	margin-top: none;
	font-size: 0.6em;
	text-align: right;
	font-style: italic;
}

.logo {
	height: 25px;
	width: 25px;
	vertical-align: top;
	margin-top: 0.2em;

	&.closed {
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}
}

.menu-header {
	font-size: 0.7em;
	padding-left: 12px;
}

.menu-item {
	cursor: pointer;
	padding: 6px 0px;
	font-size: 1.1em;

	&:hover {
		font-weight: bold;
		color: white !important;
	}

	a {
		font-size: .9em;
	}

	.icon {
		vertical-align: bottom;
		font-style: bold;

		&:hover {
			color: white;
			font-weight: bold;
		}
	}

	.text {
		padding-left: 20px;
		vertical-align: middle;

		&:hover {
			color: white;
			font-weight: bold;
		}
	}
}

.active-link {
	a {
		color: white !important;
		pointer-events: none;
	}
	background: gray;
}
