<div @sidebarAnimation class="sidebar" [ngStyle]="{ width: sidebarSvc.sidebarOpen ? '250px' : '50px' }">
	<div class="sidebar-content">
		<div class="p-grid p-nogutter">
			<div class="p-col-12" style="height: 10px"></div>
			<div class="p-col p-md-12">
				<div class="p-grid p-nogutter" [ngStyle]="{ 'text-align': sidebarSvc.sidebarOpen ? 'left' : 'center' }">
					<div [ngClass]="sidebarSvc.sidebarOpen ? 'p-md-2' : 'p-md-12'">
						<i
							(click)="sidebarSvc.sidebarOpen = !sidebarSvc.sidebarOpen"
							class="pi pi-bars hamburger-icon"
							[ngClass]="sidebarSvc.sidebarOpen ? '' : 'closed'"
							pTooltip="Open Menu"
							tooltipPosition="right"
							[tooltipDisabled]="sidebarSvc.sidebarOpen"
						></i>
					</div>
					<div
						[ngClass]="sidebarSvc.sidebarOpen ? 'p-md-7 vr' : 'p-md-12'"
						[ngStyle]="{ padding: sidebarSvc.sidebarOpen ? '.7em' : '.3em' }"
					>
						<div [ngStyle]="{ 'text-align': sidebarSvc.sidebarOpen ? 'right' : 'center' }">
							<img *ngIf="sidebarSvc.sidebarOpen" src="../../assets/spotlight-logo.png" alt="" />
						</div>
						<div title="{{ buildDate }}" class="build-version" *ngIf="sidebarSvc.sidebarOpen">
							v4.{{ version }}
						</div>
					</div>
					<div
						[ngClass]="sidebarSvc.sidebarOpen ? 'p-md-2' : 'p-md-12'"
						[ngStyle]="{ padding: sidebarSvc.sidebarOpen ? '.7em' : '.3em' }"
					>
						<img
							src="../../assets/ge-logo.svg"
							alt=""
							[ngClass]="sidebarSvc.sidebarOpen ? 'logo' : 'logo closed'"
							pTooltip="GE Corporate"
							tooltipPosition="right"
							[tooltipDisabled]="sidebarSvc.sidebarOpen"
						/>
					</div>
				</div>
			</div>
			<div class="p-col p-md-12 hr" [ngStyle]="{ width: sidebarSvc.sidebarOpen ? '240px' : '40px' }"></div>
			<div class="p-col p-md-12 p-col-align-stretch" *ngIf="isLoggedIn">
				<div *ngIf="isLoggedIn" [ngStyle]="{ 'text-align': sidebarSvc.sidebarOpen ? 'left' : 'center' }">
					<div *ngFor="let menuItem of sidebarSvc.menuItems">
						<p class="menu-header" *ngIf="sidebarSvc.sidebarOpen && menuItem.items.length">
							{{ menuItem.label | uppercase }}
						</p>

						<div
							*ngFor="let nestedMenuItem of menuItem.items"
							class="menu-item"
							[ngStyle]="{ 'padding-left': sidebarSvc.sidebarOpen ? '20px' : 'initial' }"
							routerLinkActive="active-link"
							[routerLink]="nestedMenuItem.routerLink"
							(click)="this.msgSvc.clear('persist')"
							[id]="nestedMenuItem.id"
						>
							<a
								pTooltip="{{ nestedMenuItem.label }}"
								tooltipPosition="right"
								[tooltipDisabled]="sidebarSvc.sidebarOpen"
							>
								<span class="icon {{ nestedMenuItem.icon }}"></span>
								<span class="text" *ngIf="sidebarSvc.sidebarOpen">{{ nestedMenuItem.label }}</span>
							</a>
						</div>
						<br *ngIf="!sidebarSvc.sidebarOpen" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p-overlayPanel #gda1>
	<ng-template pTemplate> Text 1 </ng-template>
</p-overlayPanel>
