.token {
  margin-top: 10px;
  padding: 20px;
  word-break: break-all;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  background-color: lightgray;
  height: 80px;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border: 1px solid gray;
  }
}
